# All GitHub workflows and changes to them should be reviewed
/.github/workflows/ @puppetlabs/open-source-stewards @puppetlabs/workflow-security-review


# All GitHub workflows and changes to them should be reviewed
/.github/workflows/ @puppetlabs/workflow-security-review
